<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="styles/styles-sobre.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/png" href="img/book_711189.png">
</head>
<body class="about-page">

    <header class="top-nav">
        <div class="profile-header">
            <img src="img/perfil.png" alt="perfil" class="header-perfil">
        </div>
    </header>


    <header class="about-header">
        <h1>Sobre o PreparAI</h1>
        <p>Conheça mais sobre nosso projeto</p>
    </header>

    <div id="navigation-links">
        <a href="home.html">INÍCIO</a>
        <a href="simulado.html">SIMULADO</a>
        <a href="desempenho.html">DESEMPENHO</a>
    </div>

    <main class="about-container">
        <section class="about-section">
            <h2>O que é o PreparAI?</h2>
            <p>O PreparAI é um projeto de faculdade. Ele possui uma Inteligência Artificial que tem como objetivo principal te ajudar a estudar para o ENEM (Exame Nacional do Ensino Médio), utilizando tanto da IA quanto do nosso simulado.</p>
        </section>

        <section class="about-section">
            <h2>Quem somos?</h2>
            <p>Somos um grupo de estudantes de Engenharia de Software da UniBH.</p>
        </section>

        <section class="about-section">
            <h2>Eu posso usar apenas o PreparAI para estudar para a prova do ENEM?</h2>
            <p>Não. O PreparAI tem como objetivo de te auxiliar, mas ele ainda é uma inteligência artificial. Ou seja, ele pode e vai errar. Não troque nenhum curso preparatório pelo PreparAI.</p>
        </section>
    </main>

    <footer class="about-footer">
        
    </footer>

</body>
</html>